.input {
  input {
    border-radius: 8px;
    border: 1px solid #E2EAFF;
    background: #FAFBFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.32px;

    &::placeholder {
      color: #848F98;
    }
  }

  .error {
    color: #f00;
  }
}
