.navbarWrapper{
  border-bottom: 1px solid #E2EAFF;
}

.navbar {
  padding: 0.75rem 0;
}

.navbarLink {
  color: #001C31;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1.25rem 0.75rem;
}

.navbarLogoBox {
  cursor: pointer;

  p {
    color: #004B84;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    padding-right: 0.4rem;
  }

  span {
    color: #004B84;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.58rem;
    text-transform: uppercase;
  }
}


.navbarButtons {
  .navbarButton {
    border-radius: 2rem;
  }
}
