.navbarWrapper {
	border-bottom: 1px solid #e2eaff;
}

.navbar {
	padding: 0.75rem 1.5rem;
	@media screen and (max-width: 1024px) {
		padding: 0.25rem 0;
	}
}

.navbarLink {
	color: #001c31;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5rem;
	padding: 1.25rem 0.75rem;
	user-select: none;
	cursor: pointer;
}

.navbarButtons {
	justify-content: flex-end;
	.navbarButton {
		border-radius: 2rem;
		@media screen and (max-width: 1024px) {
			border-radius: 0.5rem;
		}
	}
}


.navbarDrawerInner {
	top: 4.4rem;
}

.navbarDrawerOverlay {
	top: 4.4rem;
}

.navbarDrawerBody {
	padding: 2rem 1rem;
	height: 100%;

}

.navbarDrawerContent {

}
