.button {
	background: #FF6A00;
	color: #FFF;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25rem;

	&:hover {
		background-color: #FF6A00;
	}

	&:disabled {
		background-color: #f2f4f7;
	}
}
