.opportunitiesWrapper {
	padding: 4rem 0;
	background: url("../../shared/assets/images/opportunities-bg.png") center left
		no-repeat;
	background-size: auto, auto;
	@media screen and (max-width: 1024px) {
		padding: 0;
	}
}

.opportunitiesGrid {
	display: flex;
	align-items: center;
	margin-top: 40px;
	gap: 1rem;

	&:nth-child(3) {
		margin-top: 64px;
		margin-bottom: 40px;
	}

	.icon {
		min-width: 64px;
		height: 64px;
	}

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		margin-top: 20px;
		&:nth-child(3) {
			margin-top: 34px;
			margin-bottom: 20px;
		}
		.icon {
			transform: rotate(90deg);
		}
	}
}
