.title{
  color: #001C31;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
}

.description{
  color: #848F98;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
